* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1;

}


h1 {
    font-size: 2em;
}


body {
    /*     max-width: 30em; */
    margin: 1em auto;
    height: auto;
    padding: 1em;
    border-radius: 1em;
    /*    box-shadow: 0.5em 0.5em 0.5em rgba(68, 68, 68, 0.6);*/
    background-color: #fff;
    color: #111111;
}

nav {
    border-bottom: 1px solid black;
    margin: 1em;
}

nav h1 {
    margin-left: 40%;

}

img {
    width: 100%;

}

/* Create three equal columns that floats next to each other */
.column {
    background-color: #d9d9d9;

    float: left;
    width: 32%;
    padding: 3em;
    margin-left: 1em;


}


#fullDetailsOne {
    background-color: #eee;
    padding: 1em;
    margin-top: -30px;

}

#detailOne {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.25);

    /*    -moz-transition: 1s ease-in-out;*/
    /*    -webkit-transition: 1s ease-in-out;*/
    /*    -ms-transition: 1s ease-in-out;*/
    /*    transition: 1s ease-in-out;*/

}

#fullDetailsOne:hover {
    transition: 0.5s;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    transition: 0.5s;
}


#detailOne span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#detailOne span:after {
    content: '\003e';
    /*    position: absolute;*/
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#detailOne:checkedhover span {
    padding-right: 25px;
}

#detailOne:hover span:after {
    opacity: 1;
    right: 0;
}




#fullDetailsTwo {
    background-color: #eee;
    padding: 1em;
    margin-top: -30px;

}

#detailTwo {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.5s;
    transition: width 2s;
    transition-timing-function: ease-in-out;
}

#fullDetailsTwo:hover {
    transition: 0.5s;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    transition: 0.5s;
}


#detailTwo span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#detailTwo span:after {
    content: '\003e';
    /*    position: absolute;*/
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#detailTwo:checkedhover span {
    padding-right: 25px;
}

#detailTwo:hover span:after {
    opacity: 1;
    right: 0;
}







#fullDetailsThree {
    background-color: #eee;
    padding: 1em;
    margin-top: -30px;

}

#detailThree {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.5s;
    transition: width 2s;
    transition-timing-function: ease-in-out;
}

#fullDetailsThree:hover {
    transition: 0.5s;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    transition: 0.5s;
}


#detailThree span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#detailThree span:after {
    content: '\003e';
    /*    position: absolute;*/
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#detailThree:checkedhover span {
    padding-right: 25px;
}

#detailThree:hover span:after {
    opacity: 1;
    right: 0;
}
