* {
  box-sizing:border-box;
}
 img{  width: 100%;}

body{
  /* max-width: 30em; */
  /* margin: 1em auto; */
  /* padding: 1em; */
  background: #fff;
  border-radius: 1em;
  box-shadow: 0.5em 0.5em 0.5em rgba(68,68,68,0.6);
}
/* Create three equal columns that floats next to each other */
.column {
  background-color:#aaa;
  float: left;
  width: 33.33%;
  padding: 10px;
}


#fullDetails {
        display: none;
      }
